.Navbar-logo{
  width:33%;
  min-width:120px;
}

.navbar-nav .nav-link{
  margin-right: 5%;
}

.navbar-brand{
  width:40%;
}
.navbar-collapse{
  width: 60%;
}

.barger-menu{
   font-size: 20px;
   display:none;
}

@media screen and (min-width: 768px) {
  .navbar-collapse{
    display:flex;
    justify-content:space-evenly;
 }

  .barger-menu{
    display:inline-block;
   }

   .navbar{
     margin-right:5%;
  }
}

@media screen and (min-width:1280px){
 .navbar-brand{
  margin-left:12%;
 }
}